<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Jobseeker Hub</title>
</head>

<body>
    <h1>Welcome to Jobseeker</h1>
    <form th:action="@{/api/offers}" method="post">
        <label for="location">Location:</label>
        <select id="location" name="location">
            <option value="krakow">Krakow</option>
            <option value="warszawa">Warsaw</option>
            <option value="wroclaw">Wroclaw</option>
            <option value="gdansk">Gdansk</option>
            <!-- Add more location options if needed -->
        </select><br><br>

        <label for="technology">Technology:</label>
        <select id="technology" name="technology">
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="javaScript">JavaScript</option>
            <option value="c#">C#</option>
            <!-- Add more technology options if needed -->
        </select><br><br>

        <label for="experience">Experience Level:</label>
        <select id="experience" name="experience">
            <option value="junior">Junior</option>
            <option value="mid">Mid</option>
            <option value="senior">Senior</option>
            <!-- Add more experience level options if needed -->
        </select><br><br>

        <input type="submit" value="Search">
    </form>
</body>

</html>
