<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Job Offers</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }

        .add-to-favorites {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Job Offers</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>Link</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="offer : ${offers}">
                <td th:text="${offer.name}"></td>
                <td th:text="${offer.salary}"></td>
                <td><a th:href="${offer.link}" target="_blank" th:text="${offer.link}"></a></td>
                <td>
                    <form th:action="@{/api/auth/favorites}" method="post">
                        <input type="hidden" name="name" th:value="${offer.name}">
                        <input type="hidden" name="salary" th:value="${offer.salary}">
                        <input type="hidden" name="link" th:value="${offer.link}">
                        <button type="submit">add to Favorite</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>